h1 {
    text-align: center;
}

.myDiv-el {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 50px;
}

#container {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

#div-el {
    margin: auto;
    width: 50%;
}

#value {
    margin: auto;
    display: block;
    height: 35px;
    font-size: 20px;
    text-align: center;
}

#conver-btn {
    border-radius: 5px;
    background-color: rgb(96, 245, 99);
    color: green;
    font-weight: bold;
    font-size: 22px;
    width: 120px;
    height: 50px;
}

#clear-btn {
    border-radius: 5px;
    background-color: rgb(213, 89, 89);
    color: red;
    font-weight: bold;
    font-size: 22px;
    width: 120px;
    height: 50px;
}

#div-btn {
    display: flex;
    justify-content: center;
}

#result {
    font-size: 25px;
}

#div-label {
    text-align: center;
}